

* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

/* Header Style */
.header {
    display: flex;
    background-color:white;
    border-bottom: black solid 3px;
    height: 60px;
    justify-content: right;
    background-color: #f4ed77;
}

#open-form {
    display: flex;        
    align-items: center; 
    justify-content: center;
    gap: 8px;                
    border: none;          
    background: none;        
    cursor: pointer;        
    padding: 10px;            
    font-size: 2rem;
}

#open-form:focus {
    outline: none;
}

#open-form p {
    font-family: "Archivo Black";
}

#open-form img {
    width: 2rem;
}

.bookContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:60px;
    padding: 40px;
}

.book{
    display:grid;
    border: black solid 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr);
    padding: 15px;
    border-radius: 10px;
    gap: 15px;
    overflow: auto;
}

.title {
    grid-row: 1/3;
    grid-column: 1/2;
    font-size: 2rem;
    font-family: "Archivo Black";
    margin-bottom: 2rem;
    color: #b13a20;
}

.author {
    grid-row: 3/4;
    grid-column: 1/2;
    color: #b13a20;
    font-family: "Archivo";
}

.total-page {
    grid-row:4/5;
    grid-column: 1/2;
    color: #b13a20;
    font-family: "Archivo";
}

.delete-book {
    grid-row: 4/5;
    grid-column: 2/-1;
    width: 2rem;
    justify-self: end;
    background: none;
    border: none;
}

.trashIcon {
    width: 2rem;
}

.statusCheckbox {
    grid-row: 1/2;
    grid-column: 2/-1;
    justify-self: end;
    width: 2rem;
}

/* Dialog Box Style */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

dialog {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 200px;
}

dialog #close-form {
    margin-bottom: 15px;
}

dialog p {
    margin-bottom: 10px;
}

.header button {
    display: flex;
    gap: 10px;
}


